/* Fonts */
@import "https://fonts.googleapis.com/css?family=Press+Start+2P";

body {
  font-family: fantasy;
  text-align: center;
  background-color: lightskyblue;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  border: dotted 15px orange;
}

h1 {
  color: #333;
  margin-bottom: 20px;
}

#strayDog {
  position: flex;
  height: 20vh;
  width: 15vw;
}

#startButton {
  padding: 15px 30px;
  font-size: 18px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}

#startButton:hover {
  background-color: darkgreen;
}

#game-container,
#game-over-container,
#game-win-container {
  display: none;
}

#instructions {
  font-family: "Press Start 2P";
  font-size: 2rem;
  color: #fff;
}

#controls {
  margin-top: 30px;
  font-size: 18px;
  color: #333;
}

p {
  margin: 10px 0;
}

/* Menu Container */
#menu-container {
  height: 50px;
  width: 200px;
  background-color: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* Game Container */
#game-container {
  text-align: center;
}
.dog-title {
  color: #9b4637;
  font: 300 2em "Press Start 2P", serif;
  margin: 0 auto;
}
.dog-p {
  color: #d58e5e;
  margin-bottom: 0;
}
.dog {
  width: 80px;
  height: 20px;
  background-color: #fff;
}
.dog-score-p,
.dog-high-score-p {
  color: #d58e5e;
  text-decoration: underline;
}
.dog-score,
.dog-high-score {
  color: #fff;
  margin: 0 auto;
  margin-bottom: 10px;
  font-size: 2rem;
}
#dogGame {
  background-color: #585b5a;
  margin: 0 auto;
  align-self: center;
  border: 20px solid #d58e5e;
}

/* Game Over Container */

#game-over-container,
#game-win-container {
  text-align: center;
}
.game-over-title,
.game-win-title {
  color: #fff;
  font: 300 2em "Press Start 2P", serif;
}
.game-over-play-button,
.game-win-play-button {
  padding: 15px 30px;
  font-size: 18px;
  background-color: green;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
}
.game-over-play-button:hover,
.game-win-play-button:hover {
  background-color: darkgreen;
}
